<html>
<head>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>

<h1>User Access Log</h1>

Select Door
<select>
  <option value="frontdoor">Front Door</option>
  <option value="serverroom">Server Room</option>
 
</select><br><br>

Select User
<select>
  <option value="matthewlear">Matthew Lear</option>
  <option value="jameswoolley">James Woolley</option>
 
</select><br><br>

<table border="1">
        <tr>
		        <td id="t01">User</td>
                <td id="t01">Direction</td>
                <td id="t01">Date</td>
                <td id="t01">Time</td>
		</tr>
		<tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
		<tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
		<tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
		<tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>		
</table>
<br>
<br>
<a href="/">Access Log</a><br> 
<a href="administration">Administration Page</a><br>
</body>
</html>
